include lexmapr/resources/AbbLex.csv
include lexmapr/resources/CombinedResourceTerms.csv
include lexmapr/resources/NefLex.csv
include lexmapr/resources/ScorLex.csv
include lexmapr/resources/SynLex.csv
include lexmapr/resources/candidateProcesses.csv
include lexmapr/resources/inflection-exceptions.csv
include lexmapr/resources/mining-stopwords.csv
include lexmapr/resources/qualities.csv
include lexmapr/resources/wikipediaCollocations.csv
include lexmapr/resources/suffixes.csv
