include lexmapr/resources/AbbLex.csv
include lexmapr/resources/CombinedResourceTerms.csv
include lexmapr/resources/NefLex.csv
include lexmapr/resources/ScorLex.csv
include lexmapr/resources/SynLex.csv
include lexmapr/resources/candidateProcesses.csv
include lexmapr/resources/inflection-exceptions.csv
include lexmapr/resources/mining-stopwords.csv
include lexmapr/resources/qualities.csv
include lexmapr/resources/wikipediaCollocations.csv
include lexmapr/resources/suffixes.csv
include lexmapr/resources/buckets.csv
include lexmapr/resources/buckets-ifsactop.csv
include lexmapr/resources/buckets-lexmapr.csv
include lexmapr/resources/ifsac-default.csv
include lexmapr/resources/ifsac-labels.csv
include lexmapr/resources/ifsac-refinement.csv
